<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>answer_num</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>2018-05-26 20:01:00</string>
			<key>description</key>
			<string>为什么萱姐姐可以这么强</string>
			<key>disappear_at</key>
			<string>2018-06-03 01:11:20</string>
			<key>gender</key>
			<string>男</string>
			<key>id</key>
			<integer>84</integer>
			<key>is_anonymous</key>
			<integer>0</integer>
			<key>kind</key>
			<string>学习</string>
			<key>nickname</key>
			<string>悟空</string>
			<key>photo_thumbnail_src</key>
			<string>http://wx.idsbllp.cn/cyxbsMobile/Public/photo/thumbnail/1505106170_477028143.jpg</string>
			<key>reward</key>
			<integer>1</integer>
			<key>tags</key>
			<string>PHP</string>
			<key>title</key>
			<string>萱姐姐为什么这么强</string>
		</dict>
		<dict>
			<key>answer_num</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>2018-05-27 09:48:08</string>
			<key>description</key>
			<string>啊啊啊啊啊</string>
			<key>disappear_at</key>
			<string>2018-08-01 01:11:20</string>
			<key>gender</key>
			<string>男</string>
			<key>id</key>
			<integer>103</integer>
			<key>is_anonymous</key>
			<integer>0</integer>
			<key>kind</key>
			<string>学习</string>
			<key>nickname</key>
			<string>冯哈哈哈</string>
			<key>photo_thumbnail_src</key>
			<string>http://wx.idsbllp.cn/cyxbsMobile/Public/photo/thumbnail/1510899662_339649785.png</string>
			<key>reward</key>
			<integer>1</integer>
			<key>tags</key>
			<string>PHP</string>
			<key>title</key>
			<string>这个代码太难写了</string>
		</dict>
		<dict>
			<key>answer_num</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>2018-05-27 09:48:11</string>
			<key>description</key>
			<string>啊啊啊啊啊</string>
			<key>disappear_at</key>
			<string>2018-08-01 01:11:20</string>
			<key>gender</key>
			<string>男</string>
			<key>id</key>
			<integer>104</integer>
			<key>is_anonymous</key>
			<integer>0</integer>
			<key>kind</key>
			<string>学习</string>
			<key>nickname</key>
			<string>冯哈哈哈</string>
			<key>photo_thumbnail_src</key>
			<string>http://wx.idsbllp.cn/cyxbsMobile/Public/photo/thumbnail/1510899662_339649785.png</string>
			<key>reward</key>
			<integer>1</integer>
			<key>tags</key>
			<string>PHP</string>
			<key>title</key>
			<string>这个代码太难写了</string>
		</dict>
		<dict>
			<key>answer_num</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>2018-05-27 10:47:17</string>
			<key>description</key>
			<string>试一试</string>
			<key>disappear_at</key>
			<string>2018-05-28 01:11:20</string>
			<key>gender</key>
			<string>男</string>
			<key>id</key>
			<integer>105</integer>
			<key>is_anonymous</key>
			<integer>0</integer>
			<key>kind</key>
			<string>学习</string>
			<key>nickname</key>
			<string>冯哈哈哈</string>
			<key>photo_thumbnail_src</key>
			<string>http://wx.idsbllp.cn/cyxbsMobile/Public/photo/thumbnail/1510899662_339649785.png</string>
			<key>reward</key>
			<integer>0</integer>
			<key>tags</key>
			<string>JAVA</string>
			<key>title</key>
			<string>#JAVA# 发一个</string>
		</dict>
	</array>
	<key>info</key>
	<string>success</string>
	<key>status</key>
	<integer>200</integer>
</dict>
</plist>
