<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachedTimestamp</key>
	<integer>1527401520465</integer>
	<key>data</key>
	<array>
		<dict>
			<key>begin_lesson</key>
			<integer>3</integer>
			<key>classroom</key>
			<string>4301</string>
			<key>course</key>
			<string>大学英语3</string>
			<key>course_num</key>
			<string>A1050050</string>
			<key>day</key>
			<string>星期一</string>
			<key>hash_day</key>
			<integer>0</integer>
			<key>hash_lesson</key>
			<integer>1</integer>
			<key>lesson</key>
			<string>三四节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-16周</string>
			<key>teacher</key>
			<string>毕丽君（外聘）</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>16</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>5</integer>
			<key>classroom</key>
			<string>3501</string>
			<key>course</key>
			<string>高等数学A(下)</string>
			<key>course_num</key>
			<string>A1110020</string>
			<key>day</key>
			<string>星期一</string>
			<key>hash_day</key>
			<integer>0</integer>
			<key>hash_lesson</key>
			<integer>2</integer>
			<key>lesson</key>
			<string>五六节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-15周</string>
			<key>teacher</key>
			<string>李玲</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>15</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>9</integer>
			<key>classroom</key>
			<string>3103</string>
			<key>course</key>
			<string>伟大的《红楼梦》</string>
			<key>course_num</key>
			<string>Mooc41</string>
			<key>day</key>
			<string>星期一</string>
			<key>hash_day</key>
			<integer>0</integer>
			<key>hash_lesson</key>
			<integer>4</integer>
			<key>lesson</key>
			<string>九十节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>3周,8周,15周</string>
			<key>teacher</key>
			<string>祖秋阳</string>
			<key>type</key>
			<string>选修</string>
			<key>week</key>
			<array>
				<integer>3</integer>
				<integer>8</integer>
				<integer>15</integer>
			</array>
			<key>weekBegin</key>
			<integer>3</integer>
			<key>weekEnd</key>
			<integer>15</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>物理虚拟仿真实验室(综合实验楼C314/C315/C316)</string>
			<key>course</key>
			<string>大学物理实验A(上)</string>
			<key>course_num</key>
			<string>A2110670</string>
			<key>day</key>
			<string>星期二</string>
			<key>hash_day</key>
			<integer>1</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>15-17周单周</string>
			<key>teacher</key>
			<string>相国涛</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>15</integer>
				<integer>17</integer>
			</array>
			<key>weekBegin</key>
			<integer>15</integer>
			<key>weekEnd</key>
			<integer>17</integer>
			<key>weekModel</key>
			<string>single</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>物理实验室（二）(综合实验楼C203/C204)</string>
			<key>course</key>
			<string>大学物理实验A(上)</string>
			<key>course_num</key>
			<string>A2110670</string>
			<key>day</key>
			<string>星期二</string>
			<key>hash_day</key>
			<integer>1</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>11周</string>
			<key>teacher</key>
			<string>相国涛</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>11</integer>
			</array>
			<key>weekBegin</key>
			<integer>11</integer>
			<key>weekEnd</key>
			<integer>11</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>电学设计性实验室(综合实验楼C310/C311)</string>
			<key>course</key>
			<string>大学物理实验A(上)</string>
			<key>course_num</key>
			<string>A2110670</string>
			<key>day</key>
			<string>星期二</string>
			<key>hash_day</key>
			<integer>1</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>7周</string>
			<key>teacher</key>
			<string>相国涛</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>7</integer>
			</array>
			<key>weekBegin</key>
			<integer>7</integer>
			<key>weekEnd</key>
			<integer>7</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>物理实验室(三)(综合实验楼C205)</string>
			<key>course</key>
			<string>大学物理实验A(上)</string>
			<key>course_num</key>
			<string>A2110670</string>
			<key>day</key>
			<string>星期二</string>
			<key>hash_day</key>
			<integer>1</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>5周</string>
			<key>teacher</key>
			<string>相国涛</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>5</integer>
			</array>
			<key>weekBegin</key>
			<integer>5</integer>
			<key>weekEnd</key>
			<integer>5</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>物理实验室(一)(综合实验楼C201/C202)</string>
			<key>course</key>
			<string>大学物理实验A(上)</string>
			<key>course_num</key>
			<string>A2110670</string>
			<key>day</key>
			<string>星期二</string>
			<key>hash_day</key>
			<integer>1</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>3周,13周</string>
			<key>teacher</key>
			<string>相国涛</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>3</integer>
				<integer>13</integer>
			</array>
			<key>weekBegin</key>
			<integer>3</integer>
			<key>weekEnd</key>
			<integer>13</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>光学设计性实验室(综合实验楼C312/C313)</string>
			<key>course</key>
			<string>大学物理实验A(上)</string>
			<key>course_num</key>
			<string>A2110670</string>
			<key>day</key>
			<string>星期二</string>
			<key>hash_day</key>
			<integer>1</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1周</string>
			<key>teacher</key>
			<string>相国涛</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>1</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>3</integer>
			<key>classroom</key>
			<string>3501</string>
			<key>course</key>
			<string>大学物理A（上）</string>
			<key>course_num</key>
			<string>A1110290</string>
			<key>day</key>
			<string>星期二</string>
			<key>hash_day</key>
			<integer>1</integer>
			<key>hash_lesson</key>
			<integer>1</integer>
			<key>lesson</key>
			<string>三四节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-17周</string>
			<key>teacher</key>
			<string>潘娜娜</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>17</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>7</integer>
			<key>classroom</key>
			<string>4401</string>
			<key>course</key>
			<string>数字与逻辑电路基础</string>
			<key>course_num</key>
			<string>A2020390</string>
			<key>day</key>
			<string>星期二</string>
			<key>hash_day</key>
			<integer>1</integer>
			<key>hash_lesson</key>
			<integer>3</integer>
			<key>lesson</key>
			<string>七八节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-13周</string>
			<key>teacher</key>
			<string>贺利芳</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>13</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>3501</string>
			<key>course</key>
			<string>高等数学A(下)</string>
			<key>course_num</key>
			<string>A1110020</string>
			<key>day</key>
			<string>星期三</string>
			<key>hash_day</key>
			<integer>2</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-15周</string>
			<key>teacher</key>
			<string>李玲</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>15</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>5</integer>
			<key>classroom</key>
			<string>4301</string>
			<key>course</key>
			<string>大学英语3</string>
			<key>course_num</key>
			<string>A1050050</string>
			<key>day</key>
			<string>星期三</string>
			<key>hash_day</key>
			<integer>2</integer>
			<key>hash_lesson</key>
			<integer>2</integer>
			<key>lesson</key>
			<string>五六节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-16周</string>
			<key>teacher</key>
			<string>毕丽君（外聘）</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>16</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>7</integer>
			<key>classroom</key>
			<string>2215</string>
			<key>course</key>
			<string>中华诗词之美（Mooc）</string>
			<key>course_num</key>
			<string>Mooc05</string>
			<key>day</key>
			<string>星期三</string>
			<key>hash_day</key>
			<integer>2</integer>
			<key>hash_lesson</key>
			<integer>3</integer>
			<key>lesson</key>
			<string>七八节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>3周,8周</string>
			<key>teacher</key>
			<string>祖秋阳</string>
			<key>type</key>
			<string>选修</string>
			<key>week</key>
			<array>
				<integer>3</integer>
				<integer>8</integer>
			</array>
			<key>weekBegin</key>
			<integer>3</integer>
			<key>weekEnd</key>
			<integer>8</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>9</integer>
			<key>classroom</key>
			<string>智能科学与技术实验室(综合实验楼B515)</string>
			<key>course</key>
			<string>数据结构</string>
			<key>course_num</key>
			<string>A1040080</string>
			<key>day</key>
			<string>星期三</string>
			<key>hash_day</key>
			<integer>2</integer>
			<key>hash_lesson</key>
			<integer>4</integer>
			<key>lesson</key>
			<string>九十节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>9-16周</string>
			<key>teacher</key>
			<string>李鸿健</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
			</array>
			<key>weekBegin</key>
			<integer>9</integer>
			<key>weekEnd</key>
			<integer>16</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>3501</string>
			<key>course</key>
			<string>高等数学A(下)</string>
			<key>course_num</key>
			<string>A1110020</string>
			<key>day</key>
			<string>星期四</string>
			<key>hash_day</key>
			<integer>3</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-6周,8-15周</string>
			<key>teacher</key>
			<string>李玲</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>15</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>3</integer>
			<key>classroom</key>
			<string>电子技术实验室（五）(综合实验楼B209/B210)</string>
			<key>course</key>
			<string>数字电路与逻辑设计实验A</string>
			<key>course_num</key>
			<string>A2021060</string>
			<key>day</key>
			<string>星期四</string>
			<key>hash_day</key>
			<integer>3</integer>
			<key>hash_lesson</key>
			<integer>1</integer>
			<key>lesson</key>
			<string>三四节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>6-8周双周,10-15周</string>
			<key>teacher</key>
			<string>黄沛昱</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>6</integer>
				<integer>8</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
			</array>
			<key>weekBegin</key>
			<integer>6</integer>
			<key>weekEnd</key>
			<integer>15</integer>
			<key>weekModel</key>
			<string>double</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>5</integer>
			<key>classroom</key>
			<string>运动场1</string>
			<key>course</key>
			<string>啦啦操二班</string>
			<key>course_num</key>
			<string>A1090020</string>
			<key>day</key>
			<string>星期四</string>
			<key>hash_day</key>
			<integer>3</integer>
			<key>hash_lesson</key>
			<integer>2</integer>
			<key>lesson</key>
			<string>五六节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-16周</string>
			<key>teacher</key>
			<string>杨慧君</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>16</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>9</integer>
			<key>classroom</key>
			<string>3205</string>
			<key>course</key>
			<string>数据结构</string>
			<key>course_num</key>
			<string>A1040080</string>
			<key>day</key>
			<string>星期四</string>
			<key>hash_day</key>
			<integer>3</integer>
			<key>hash_lesson</key>
			<integer>4</integer>
			<key>lesson</key>
			<string>九十节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-6周,8-17周</string>
			<key>teacher</key>
			<string>毕秀丽</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>17</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>1</integer>
			<key>classroom</key>
			<string>2402</string>
			<key>course</key>
			<string>形势与政策</string>
			<key>course_num</key>
			<string>A1100010</string>
			<key>day</key>
			<string>星期五</string>
			<key>hash_day</key>
			<integer>4</integer>
			<key>hash_lesson</key>
			<integer>0</integer>
			<key>lesson</key>
			<string>一二节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>5-6周,8周</string>
			<key>teacher</key>
			<string>李文清</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>5</integer>
				<integer>6</integer>
				<integer>8</integer>
			</array>
			<key>weekBegin</key>
			<integer>5</integer>
			<key>weekEnd</key>
			<integer>8</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>3</integer>
			<key>classroom</key>
			<string>4401</string>
			<key>course</key>
			<string>数字与逻辑电路基础</string>
			<key>course_num</key>
			<string>A2020390</string>
			<key>day</key>
			<string>星期五</string>
			<key>hash_day</key>
			<integer>4</integer>
			<key>hash_lesson</key>
			<integer>1</integer>
			<key>lesson</key>
			<string>三四节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-6周,8-12周</string>
			<key>teacher</key>
			<string>贺利芳</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>12</integer>
			<key>weekModel</key>
			<string>all</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>5</integer>
			<key>classroom</key>
			<string>电子技术实验室（五）(综合实验楼B209/B210)</string>
			<key>course</key>
			<string>数字电路与逻辑设计实验A</string>
			<key>course_num</key>
			<string>A2021060</string>
			<key>day</key>
			<string>星期五</string>
			<key>hash_day</key>
			<integer>4</integer>
			<key>hash_lesson</key>
			<integer>2</integer>
			<key>lesson</key>
			<string>五六节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>6-8周双周,10-15周</string>
			<key>teacher</key>
			<string>黄沛昱</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>6</integer>
				<integer>8</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
			</array>
			<key>weekBegin</key>
			<integer>6</integer>
			<key>weekEnd</key>
			<integer>15</integer>
			<key>weekModel</key>
			<string>double</string>
		</dict>
		<dict>
			<key>begin_lesson</key>
			<integer>7</integer>
			<key>classroom</key>
			<string>3501</string>
			<key>course</key>
			<string>大学物理A（上）</string>
			<key>course_num</key>
			<string>A1110290</string>
			<key>day</key>
			<string>星期五</string>
			<key>hash_day</key>
			<integer>4</integer>
			<key>hash_lesson</key>
			<integer>3</integer>
			<key>lesson</key>
			<string>七八节</string>
			<key>period</key>
			<integer>2</integer>
			<key>rawWeek</key>
			<string>1-5周单周,9-15周单周</string>
			<key>teacher</key>
			<string>潘娜娜</string>
			<key>type</key>
			<string>必修</string>
			<key>week</key>
			<array>
				<integer>1</integer>
				<integer>3</integer>
				<integer>5</integer>
				<integer>9</integer>
				<integer>11</integer>
				<integer>13</integer>
				<integer>15</integer>
			</array>
			<key>weekBegin</key>
			<integer>1</integer>
			<key>weekEnd</key>
			<integer>15</integer>
			<key>weekModel</key>
			<string>single</string>
		</dict>
	</array>
	<key>nowWeek</key>
	<integer>12</integer>
	<key>outOfDateTimestamp</key>
	<integer>1528006320465</integer>
	<key>status</key>
	<integer>200</integer>
	<key>stuNum</key>
	<string>2017210338</string>
	<key>success</key>
	<true/>
	<key>term</key>
	<string>2017-2018学年第2学期</string>
	<key>version</key>
	<string>16.9.4</string>
</dict>
</plist>
